<body style="background-color: #f0f2f5;">
  <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="row justify-content-center">
      <div class="card" style="width: 480px; padding:0px">
        <img src="https://swensens1112.com/images/card-head.png" class="card-img-top" alt="...">
        <div class="card-body">

          <div class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label" style="font-family: 'Kanit', sans-serif;">ชื่อ</label>
              <input class="form-control" id="inputEmail4" placeholder="กรอกชื่อ" [(ngModel)]="CBTransceiver.name">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label" style="font-family: 'Kanit', sans-serif;">นามสกุล</label>
              <input class="form-control" id="inputPassword4" placeholder="กรอกนามสกุล" [(ngModel)]="CBTransceiver.lastname">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label" style="font-family: 'Kanit', sans-serif;">เบอร์โทรศัพท์</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="กรอกเบอร์โทรศัพท์" [(ngModel)]="CBTransceiver.telephoneNumber">
            </div>
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label" style="font-family: 'Kanit', sans-serif;">อีเมล</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรอกอีเมล" [(ngModel)]="CBTransceiver.email">
                <div id="emailHelp" class="form-text" style="color: #ff0000; font-family: 'Kanit', sans-serif;">กรุณาตรวจสอบอีเมลที่ระบุให้ถูกต้อง</div>
            </div>
            <div class="col-12">
              <label for="exampleFormControlInput1" class="form-label" style="font-family: 'Kanit', sans-serif;">รหัสผ่าน</label>
              <input type="password" id="inputPassword5" class="form-control"  placeholder="กรอกรหัสผ่าน" aria-describedby="passwordHelpBlock" [(ngModel)]="CBTransceiver.password">
            </div>
            <div class="col-12">
              <label for="exampleFormControlInput1" class="form-label" style="font-family: 'Kanit', sans-serif;">เพศ(ไม่ระบุได้)</label>
              <div>
                <div class="btn ">
                  <input type="radio" class="btn-check" name="radio" id="radio1" autocomplete="off" value="male">
                  <label class="btn radio" for="radio1">ชาย</label>
                </div>
                <div class="btn ">
                  <input type="radio" class="btn-check" name="radio" id="radio2" autocomplete="off" value="female">
                  <label class="btn radio" for="radio2">หญิง</label>
                </div>
                <div class="btn ">
                  <input type="radio" class="btn-check" name="radio" id="radio3" autocomplete="off" value="not_specified">
                  <label class="btn radio" for="radio3">ไม่ระบุ</label>
                </div>
              </div>
            </div>

            <div>
              <label for="exampleFormControlInput1" class="form-label" style="font-family: 'Kanit', sans-serif;">ของขวัญวันเกิดรอคุณอยู่</label>
              <input type="date" class="form-control">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck" style="font-family: 'Kanit', sans-serif;">
                  ฉันได้อ่านและยอมรับ <span style="color: #ff0000;">ข้อกำหนดการใช้งาน</span>  และ <span style="color: #ff0000;">นโยบายความเป็นส่วนตัว</span> ของสเวนเซ่นส์
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1" style="font-family: 'Kanit', sans-serif;">
                  ฉันยินยอมรับข้อมูลข่าวสาร กิจกรรมส่งเสริมการขายต่างๆ จากสเวนเซ่นส์และ<span style="color: #ff0000;">บริษัทในเครือ</span> โดยเราจะเก็บข้อมูลของท่านไว้เป็นความลับ
                  สามารถศึกษาเงื่อนไขหรือข้อตกลง <span style="color: #ff0000;">นโยบายความเป็นส่วนตัว</span>เพิ่มเติมได้ที่เว็บไซต์ของบริษัทฯ
                </label>
              </div>
            </div>
            <div class="col-12">
              <div style="text-align: center;">
                <button type="button" class="btn member" (click)="saveMember()">สมัครสมาชิก</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

