<div class="header">
  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-12 col-md-12 col-xl-6 order-2 order-md-2 order-xl-1" style="text-align: left;">
        <h1 class="forn" style="text-align: left; font-size: 50px;">
          สมัครเป็นสมาชิก<br>
          สเวนเซ่นส์วันนี้ พร้อมรับสิทธิพิเศษมากมายรอคุณอยู่ที่นี่
        </h1>
        <p class="forn" style="text-align: left; font-size: 20px;">พิเศษสุดๆ! สำหรับสมาชิกสเวนเซ่นส์ ยิ่งกิน ยิ่งได้ ยิ่งคุ้ม ใครๆ ก็สมัครได้ ใช้ง่ายสะดวกสบายพร้อมสิทธิประโยชน์มากมายเพื่อคนสำคัญเช่นคุณ รอไม่ได้แล้ว สมัครเลย</p>
        <button type="button" class="btn"><img src="https://swensens1112.com/images/button/TH_normal.svg"></button>
      </div>
      <div class="col-12 col-md-23 col-xl-6 order-1 order-md-1 order-xl-2">
        <img class="imgstyle" src="https://swensens1112.com/images/banner-image.svg" style="padding-bottom: 10px;">
      </div>
    </div>
  </div>


</div>

<div class="container" style="padding-top: 30px; padding-bottom: 20px;">
  <p style="font-size: 32px;">ดีลสุดคุ้ม</p>
  <div class="container">
    <div class="row">
      <div class="col col-xl" style="padding: 10px;">
        <a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2Fthumbnail_MANGO-Loyalty-1440x810px.jpeg?alt=media"
          style="width: 368px; height: 205px;"></a>
      </div>
      <div class="col col-xl" style="padding: 10px;">
        <a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/swensens-production.appspot.com/o/superdeal%2FSW_ Mango cake New.jpg?alt=media"
          style="width: 368px; height: 205px;"></a>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px; padding-bottom: 20px;">
  <p style="font-size: 32px;">ข่าว</p>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 30px; background-image: url('https://swensens1112.com/images/bg-page-bottom.jpg'); background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col"><img src="https://swensens1112.com/images/app-screen-webp.webp" class="img-fluid" alt="..."></div>
      <div class="col colstyle">
        <h2 style="font-family: 'Kanit', sans-serif;">ดาวน์โหลดที่</h2>
        <div class="row ">
          <div class="col-auto" style="padding: 10px;">
              <a href="#"><img src="https://swensens1112.com/images/google-play.png" width="204px" height="59.92" class="img-fluid" alt="..."></a>
          </div>
          <div class="col-auto" style="padding: 10px;">
              <a href="#"><img src="https://swensens1112.com/images/app-store.png" width="204px" height="59.92" class="img-fluid" alt="..."></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


